{% extends 'form_base.html' %}

{% block content %}
<div class="container form-container">
    <div class="row">
        <div class="col s9">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12 center" style="margin-bottom: 40px;">
                            <p><strong class="dominate">LOGIN</strong><span>&nbsp;&nbsp;OR&nbsp;<a href="{% url 'signup' %}" style="color: #26c3a1; text-decoration: underline;">SIGNUP</a></span></p>
                        </div>
                        <form class="col s8 push-s2 center" method="post">
                            {% csrf_token %}
                            <div class="input-field">
                                <i class="material-icons prefix">account_circle</i>
                                {{ form.username }}
                                <label for='id_username'>Email</label>
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">lock_outline</i>
                                {{ form.password }}
                                <label for='id_password'>Password</label>
                            </div> 
                            <button class="btn custom-btn" type="submit" style="margin-bottom: 15px;">Login
                                <i class="material-icons left">input</i>
                            </button>
                            <br>
                            <a href="{% url 'reset_password' %}">Forgot&nbsp;Password</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="errors center">
                {{ form.non_field_errors }}
                {{ form.username.errors }}
                {{ form.password.errors }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
