{% extends 'form_base.html' %}

{% block content %}
    <div class="container form-container">
        <div class="row">
            <div class="col s9">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            {% if validlink %}
                                <div class="col s12 center" style="margin-bottom: 40px;">
                                    <p><strong class="dominate">SET NEW PASSWORD</strong></p>
                                </div>
                                <form class="col s8 push-s2 center" method="post">
                                    {% csrf_token %}
                                    <div class="input-field">
                                        <i class="material-icons prefix">lock_outline</i>
                                        {{ form.new_password1 }}
                                        <label for='id_new_password1'>Password</label>
                                    </div>
                                    <div class="help-text">
                                        {{ form.help_text }}
                                    </div>
                                    <div class="input-field">
                                        <i class="material-icons prefix">lock_outline</i>
                                        {{ form.new_password2 }}
                                        <label for='id_new_password2'>Confirm Password</label>
                                    </div>
                                    <button  class="btn custom-btn" type="submit">Change Password
                                        <i class="material-icons right">check</i>
                                    </button>
                                </form>
                            {% else %}
                                <div class="col s12 center" style="margin-bottom: 40px;">
                                    <p>
                                        The password reset link was invalid, possibly because it has already been used.
                                        Please request a new password reset.
                                    </p>
                                </div>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}