<!DOCTYPE html>
    <html>
        <head>
            {% load static %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>
            <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}">
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        </head>

    <body>
        {% if request.user.is_authenticated %}
            <ul id="slide-out" class="sidenav">
                <li>
                    <div class="user-view">
                        <div class="background center" style="background-color: #26c3a1;">
                            <img src="{% static "images/back-1.png" %}" width="200px">
                        </div>
                        <a href="#"><img class="circle" src="{% static "images/avatar.png" %}"></a>
                        <a href="#"><span class="white-text name">{{ user.username }}</span></a>
                        <a href="#"><span class="white-text email">{{ user.email }}</span></a>
                    </div>
                </li>
                <li><a href="{% url 'dashboard' %}"><i class="material-icons">dashboard</i>Dashboard</a></li>
                <li><a href="{% url 'user_profile' %}"><i class="material-icons">settings</i>Settings</a></li>
                <li><a href="#"><i class="material-icons">book</i>Quiz</a></li>
                <li><a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i>Logout</a></li>
            </ul>
            <div class="hamburger-menu">
                <a href="#" data-target="slide-out" class="sidenav-trigger" style="color: #fff;"><i class="material-icons">menu</i></a>
            </div>
        {% else %}
            <header class="page-header">
                <nav class="z-depth-0 navigation-bar">
                    <div class="nav-wrapper">
                        <a href="{% url 'index' %}" class="brand-logo"><img src="{% static "images/Logo.png" %}" width="280px" height="100px"></a>
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="{% url 'login' %}">Home</a></li>
                            <li><a href="{% url 'signup' %}">Services</a></li>
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'signup' %}">Signup</a></li>
                        </ul>
                    </div>
                </nav>
    
                <ul class="sidenav" id="mobile-demo">
                    <li><a href="{% url 'login' %}">Home</a></li>
                    <li><a href="{% url 'signup' %}">Services</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                </ul>
            </header>
            
        {% endif %}
        <main class="{% if not request.user.is_authenticated %} color-background {%endif%}">
            {% if request.user.is_authenticated %} 
                {% block content %}
                {% endblock %}
            {% else %}
                <div class="hero">
                    <div class="hero-text">
                        <h1>Advance What's Possible</h1>
                        <p>iClass brings together the best K-12 learning management system with assessment management to improve student performance, foster collaboration, and personalize learning.</h2>
                        <br>
                        <br>
                        <a class="btn btn-large" href="{% url 'signup' %}">Signup
                            <i class="material-icons left">input</i>
                        </a>
                    </div>
                </div>
            {%endif%}
        </main>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static "js/script.js" %}"></script>
  </html>