{% extends 'base.html'%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12 center" style="margin-bottom: 40px;">
                                <h4 style="margin: 0; text-decoration: underline;">CLASS DETAILS</h4> 
                            </div>
                            <div class="col s12">
                                {% block class_details %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <ul class="collapsible">
                    {% if request.user.is_teacher %}
                    <li class="active">
                        <div class="collapsible-header"><i class="material-icons">people</i>STUDENTS</div>
                        <div class="collapsible-body">
                            <div class="card">
                                <div class="card-content">
                                    <table class="respnsive-table centered striped">
                                        {% block student_table %}
                                        {% endblock %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    <li class="{% if request.user.is_student %} active {% endif %}">
                        <div class="collapsible-header"><i class="material-icons">content_paste</i>ASSIGNMENTS</div>
                        <div class="collapsible-body">
                            <div class="card">
                                <div class="card-content">
                                    <table class="respnsive-table centered striped">
                                        {% block assignment_table %}
                                        {% endblock %}
                                    </table>
                                </div>
                            </div>
                            {% if request.user.is_teacher %}
                            <a href="#"><button class="btn custom-btn modal-trigger" data-target="modal1">ADD NEW ASSIGNMENT</button></a>
                            {% endif %}
                        </div> 
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">book</i>NOTES</div>
                        <div class="collapsible-body">
                            <div class="card">
                                <div class="card-content">
                                    <table class="respnsive-table centered striped">
                                        {% block notes_table %}
                                        {% endblock %}
                                    </table>
                                </div>
                            </div>
                            {% if request.user.is_teacher %}
                            <a href="#"><button class="btn custom-btn modal-trigger" data-target="modal2">ADD NOTES</button></a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% block modal_content %}
    {% endblock %}
{% endblock %}