{% extends 'classroom_detail_base.html' %}

{% block class_details %}
    <div class="row">
        <div class="col s5"><p>Course Name:</p></div>
        <div class="col s6"><p>{{ courseName }}</p></div>
    </div>
    <div class="row">
        <div class="col s5"><p>Room No:</p></div>
        <div class="col s6"><p>{{ roomNumber }}</p></div>
    </div>
    <div class="row">
        <div class="col s5"><p>Access Key:</p></div>
        <div class="col s6"><p>{{ classRoomId }}</p></div>
    </div>
    <div class="row">
        <div class="col s5"><p>Number of Studets Enrolled:</p></div>
        <div class="col s6"><p>{{ numberOfStudent }}</p></div>
    </div>
{% endblock %}
{% block student_table %}
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
    </tr>
    </thead>

    <tbody>
        {% for student in studentNames %}
            <tr>
                <td>{{ student.0.first_name }}</td>
                <td>{{ student.0.last_name }}</td>
                <td>{{ student.0.email }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No Class Created</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block assignment_table %}
    <thead>
    <tr>
        <th>DESCRIPTION</th>
        <th>QUESTION</th>
        <th>SUBMISSIONS</th>
        <th>MANAGE</th>
    </tr>
    </thead>

    <tbody>
        {% for assignment in assignments %}
            <tr>
                <td>{{ assignment.description }}</td>
                <td><a href="{{ MEDIA_URL }}{{assignment.assignmentQuestion}}" download><i class="material-icons center">file_download</i></a></a></td>
                <td><a href="{% url 'list_submissions' pk=assignment.id %}" class="btn small-btn">SUBMISSIONS</a></td>
                <td><a href="{% url 'manage_assignment' pk=assignment.id %}" class="btn small-btn">MANAGE</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No Assignment Added</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block notes_table %}
    <thead>
    <tr>
        <th>DESCRIPTION</th>
        <th>REFERENCE MATERIAL</th>
    </tr>
    </thead>

    <tbody>
        {% for note in notes %}
            <tr>
                <td>{{ note.description }}</td>
                <td><a href="{{ MEDIA_URL }}{{note.notesFile}}" download>Open</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No Notes Added</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block modal_content %}
    <div id="modal1" class="modal">
        <div class="modal-content">
            <div class="card">
                <div class="card-content">
                    <form enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <div class="input-field" style="margin-bottom: 30px;">
                            {{ assignment_form.description }}
                            <label for='id_description'>Description</label>
                        </div>
                        <div class="input-field" style="margin-bottom: 30px;">
                            {{ assignment_form.maximumMarks }}
                            <label for='id_maximumMarks'>Maximum Marks</label>
                        </div>
                        <div class="input-field" style="margin-bottom: 40px;">
                            <p>Upload Question:</p>
                            {{ assignment_form.assignmentQuestion }}
                        </div>                              
                        <button class="btn custom-btn" type="submit" style="margin-bottom: 15px;" name="assignment">Upload Questions
                            <i class="material-icons left">check</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="modal2" class="modal">
        <div class="modal-content">
            <div class="card">
                <div class="card-content">
                    <form enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <div class="input-field" style="margin-bottom: 30px;">
                            {{ notes_form.description }}
                            <label for='id_description'>Description</label>
                        </div>
                        <div class="input-field" style="margin-bottom: 40px;">
                            <p>Upload Question:</p>
                            {{ notes_form.notesFile }}
                        </div>                              
                        <button class="btn custom-btn" type="submit" style="margin-bottom: 15px;" name="notes">Upload Notes
                            <i class="material-icons left">check</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}