{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center">Classrooms</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s10 push-s1">
            <div class="card">
                <div class="center card-content">
                    <table class="respnsive-table centered striped">
                        <thead>
                          <tr>
                              <th>Course Name</th>
                              <th>Classroom Details</th>
                              <th>Quiz</th>
                          </tr>
                        </thead>
                    
                        <tbody>
                            {% for class in object_list %}
                                <tr>
                                    <td>{{ class.courseName }}</td>
                                    <td><a href="{% url 'view_classroom' pk=class.classRoomId %}"><button class="btn custom-btn">Open</button></a></td>
                                    <td>
                                        <a href="{% url 'list_quiz' pk=class.classRoomId%}"><button class="btn custom-btn">
                                            {% if request.user.is_teacher %}
                                                Manage Quiz
                                            {% else %}
                                                See Quiz
                                            {% endif %}
                                        </button></a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="3">
                                        {% if request.user.is_teacher %}
                                            No Class Created
                                        {% else %}
                                            No Class Joined
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>  
{% endblock %}