{% extends 'card_base.html' %}

{% block card_content %}
    <div class="col s12 center" style="margin-bottom: 40px;">
        <h4 style="text-decoration: underline;">MARKS UPDATION FORM</h4>
    </div>
    <form class="col s8 push-s2 center" method="post">
        {% csrf_token %}
        <div class="input-field">
            {{ form.marks }}
            <label for='id_marks'>Marks</label>
        </div>
        <button class="btn custom-btn" type="submit" style="margin-bottom: 15px;">Update Marks
            <i class="material-icons left">check</i>
        </button>
        <br>
    </form>
{% endblock %}

{% block errors %}
    {{ form.non_field_errors }}
    {{ form.marks.errors }}
{% endblock %}
